@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

/* Color scheme */
:root {
  --text: #32292c;
  --background: #fef1f5;
  --primary: #ef81a6;
  --secondary: #97ea9c;
  --accent: #a4f6f5;
}

* {
  margin: 0%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--text);
}

html {
  font-size: 100%;
  scroll-snap-type: y mandatory;
}

/****** HEADERS ******/

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-align: center;
  background-color: var(--background);
}

/* 16px */

h1 {
  font-size: 4.210rem;
  /* 67.36px */
  margin: 0%;
  padding-top: 10rem;
  color: var(--primary);
}

h2 {
  font-size: 3.158rem;
  /* 50.56px */
}

h3 {
  font-size: 2.369rem;
  /* 37.92px */
}

h4 {
  font-size: 1.777rem;
  /* 28.48px */
}

h5 {
  font-size: 1.333rem;
  /* 21.28px */
}

small {
  font-size: 0.750rem;
  /* 12px */
}

/* ******************************** */

.page {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  border: 3px solid var(--text);
}

#landing {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: auto;
  background-color: var(--background);
}

.user-form {
  min-height: 200px;
  display: flex;
  align-items: center;
}

/* #username-label {
  font-size: xx-large;
  color: var(--primary);
  padding-right: 30px;
} */

#textInput {
  border-radius: 16px;
  font-size: x-large;
  height: 50px;
  color: var(--primary);
  padding-left: 20px;
}

#toddler {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #32292c;
}

#baby {
  height: 100vh;
  width: 100vw;
}

/****** BUTTONS ******/

.button-19 {
  appearance: button;
  background-color: var(--primary);
  border: solid transparent;
  border-radius: 20px;
  border-width: 0 7px 14px 0;
  box-sizing: border-box;
  color: var(--background);
  cursor: pointer;
  display: inline-block;
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 6px;
  line-height: 20px;
  margin: 10px 0px;
  overflow: visible;
  padding: 16px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: var(--primary);
  border: solid transparent;
  border-radius: 20px;
  border-width: 0 0 8px 0;
  bottom: -15px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 10px 0 0;
  background: none;
}

.btn {
  background-color: var(--accent);
  width: 180px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
  padding: 0px 25px;
}

.btn-icon {
  padding-left: 10px;
}

.btn-home {
  z-index: 999999;
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 60px;
  width: 60px;
  border-width: 3px;

  border-radius: 50%;
  font-size: 28.48px;

  a {
    padding: 0px 6.5px;
  }
}

.btn-mute {
  z-index: 999999;
  position: fixed;
  right: 30px;
  bottom: 105px;
  height: 60px;
  width: 60px;
  border-width: 3px;
  border-radius: 50%;
  font-size: 28.48px;
  color: white;
  cursor: pointer;

  i {
    padding: 0px 6px;
  }
}

.btn-save {
  display: inline-block;
  z-index: 999999;
  /* position: fixed;
  right: 30px;
  bottom: 105px; */
  height: 60px;
  width: 60px;
  border-width: 3px;
  border-radius: 50%;
  font-size: 28.48px;
  color: white;
  cursor: pointer;

  i {
    padding: 0px 6px;
  }
}

.toddler-nav {
  width: 300px;

  .btn {
    width: 100%;
    height: 100px;
    margin-top: 10%;
  }

  a {
    padding-left: 85px;
  }
}

/* ******************************** */

.letters-container {
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: var(--background);
  padding: 10px;
  align-items: center;
  justify-items: center;
  color: var(--primary);
  font-size: 50px;
  font-weight: bold;
}

.letter {
  transition: 1s font-size;
}

.number {
  transition: 1s font-size;
}

.animal-container {
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: var(--background);
  padding: 10px;
  align-items: center;
  justify-items: center;
}

.numbers-container {
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: var(--background);
  padding: 10px;
  align-items: center;
  justify-items: center;
  color: var(--secondary);
  font-size: 50px;
  font-weight: bold;
}

.animal {
  background-color: var(--background);
  border: 1px solid var(--background);
  padding: 80px 20px;
  font-size: 50px;
  text-align: center;
  font-size: 120px;
  color: var(--secondary);
  transition: 1s font-size;
}

.makeBigger {
  font-size: 180px;
}

/* ********** Scroll snapping behaviour *********** */
div>.page-container {
  scroll-snap-type: y mandatory;
}

div>.page {
  scroll-snap-align: start;
}

.page {
  display: none;
}

.page.display {
  display: block;
}